body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background: #fff;
}

.content {
    margin-top: 10px;
    max-width: 1200px;
    height: 100% !important;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
}

.h-35 {
    height: 35px;
}

.margins-5 {
    margin: 5px 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea, .form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #e1e1e1;
    max-width: 100%;
}


.panel_header {
    width: 100%;
    display: inline-block;
    background-color: #6DA633;
    border: 1px solid #6DA633;
    border-bottom: 2px solid #6DA633;
    vertical-align: top;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .panel_header .title {
        margin-top: 10px;
        font-family: 'Oswald', Arial, Helvetica, sans-serif;
        font-size: 19px;
        padding-left: 15px;
        line-height: 30px;
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block;
    }

.panel_actions {
    color: #fff;
}

.content-body {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #6DA633;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}

.panel_footer {
    width: 100%;
    display: inline-block;
    background-color: #6DA633;
    border: 1px solid #6DA633;
    border-top: 2px solid #6DA633;
    vertical-align: top;
    position: relative;
    min-height: 50px;
    padding: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-group .controls {
    position: relative;
}

.form-group .controls {
    margin: 5px 0;
}

.btn {
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-shadow: none;
}

    .btn.btn-secondary {
        background: rgba(169, 169, 169, 1.0);
        color: #ffffff;
    }

label.radio {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border: 1px solid #e1e1e1;
    padding-top: 2px;
    margin-left: -15px;
    width: 49.45%;
    float: left;
}

    label.radio:last-child {
        margin-top: 10px;
        margin-left: 5px;
    }


table.custom-table {
    border: 1px solid #fff !important;
}

    table.custom-table th td {
        padding: 5px;
    }

    table.custom-table tr {
        line-height: 14px;
    }

    table.custom-table th {
        padding: 10px !important;
        text-align: center;
        background-color: #667EA4;
        color: #fff;
    }

    table.custom-table td {
        padding: 2px !important;
        text-align: center;
    }

.navbar-inverse {
    background-color: #687FA0 !important;
    border-color: #546B8D !important;
}

    .navbar-inverse .navbar-brand {
        color: #77dd0f !important;
    }

.modal-header {
    background-color: #6DA633 !important;
    color: #fff !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    background-color: #6DA633 !important;
    color: #fff !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
